html
    head
        meta(charset="utf-8")
        title Магазин
        link(rel="stylesheet" type="text/css" href="css/style.css")
    body
        header.main-header
            header.navbar
                nav.main-nav
                    a(href="#") О Магазине
                    a(href="#") Акции
                    a(href="#") Доставка и Оплата
                    a(href="#") Помощь
                    a(href="#") Контакты
                div.nav-user
                    div.drop-down-menu
                        a(href="#").shop-menu Мой магазин
                        div.drop-down-content
                            a(href="#") Мои заказы
                            a(href="#") Мои акции
                            a(href="#") Мой профиль
                    a(href="#" class="enter") Вход
            section
                img(src="" alt="logo" id="logo")
                article
                    div.header-content
                        div.select-place
                            select
                                option(selected) Днепропетровск
                                option Киев
                                option Львов
                                option Харьков
                        div.header-contacts
                            div
                                a(href="#") Заказать звонок
                                p.phone 0 800 555 00 55

                            div
                                a(href="#") on-line чат
                                p.phone 044 555 00 55
                        div#header-cart
                            a(href="#") Корзина
                    form.header-search
                        input(type="text")
                        div.select-search
                            select
                                option(selected) Во всем каталоге
                                option В наличии
                                option
                        input(type="submit" value="")
        div#main
            section.main-content
                nav
                    a(href="#").back Назад
                    p
                        a(href="#") Главная
                        | &gt;
                        a(href="#") Каталог товаров
                        | &gt;
                        a(href="#") Компьютерная техника
                img(src="" alt="slider")#slider-image
                article.brands
                    header
                        h3 Выбор по бренду
                        a(href="#") все бренды
                    p
                        - for (var i = 0; i < 7*3; i++)
                            img(src="" alt="img")
                article.promotions
                    header
                        h3 Акционные предложения
                        a(href="#") все акции
                    div
                        a(href="#").previous-promotion
                        - for (var i = 0; i < 5; i++)
                            div.card
                                img(src="" alt="img")
                                p  Lorem ipsum dolor sit amet, consectetur adipisicing elit
                        a(href="#").next-promotion
                    footer
                        p 1 - 5 из 21
                article.reviews
                    header
                        h3 Обзоры
                        a(href="#") все обзоры
                    div
                        - for (var i = 0; i < 3; i++)
                            div.single-review
                                img(src="" alt="img").item-img
                                div
                                    h4  Lorem ipsum dolor sit amet
                                    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil ea neque reprehenderit harum blanditiis voluptatem minima nam aliquam similique laudantium minus ducimus, iste soluta eveniet ipsa distinctio ut ad modi!
            aside
                article.catalog
                    header
                        h3 Каталог товаров
                        h4 Компьютерная техника
                    nav
                        ul
                            - for (var i = 0; i < 18; i++)
                                li
                                    a(href="#") goods
                article.top-sale
                    header
                        h3 Лидеры продаж
                    div
                        div
                            p HP Pavilion
                            img(src="" alt="photo")
                            p цена
                                strong  4 999 грн.
                            button Купить
                        div
                            p HP Pavilion
                            img(src="" alt="photo")
                            p цена
                                strong  4 999 грн.
                            button Купить