html
    head
        meta(charset="utf-8")
        title Магазин
        link(rel="stylesheet" type="text/css" href="css/style.css")
    body
        header.main-header
            header
                nav.main-nav
                    a(href="#") О Магазине
                    a(href="#") Акции
                    a(href="#") Доставка и Оплата
                    a(href="#") Помощь
                    a(href="#") Контакты
                div.nav-user
                    div.drop-down
                        img(src="img/shop-icon.png" class="icon" alt="shop")
                        a(href="#") Мой магазин
                    div
                        img(src="img/key-icon.png" class="icon" alt="key")
                        a(href="#") Вход
            section
