/* Header */
.main-header {
  border: 1px solid #777777; }

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  min-height: 2em;
  align-content: center;
  border-bottom: 1px solid #777777; }

.main-nav {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex: 10 1 auto;
  flex-wrap: wrap;
  align-content: center; }

.nav-user {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex: 1 1 auto;
  flex-wrap: wrap;
  align-content: center; }

.navbar a {
  padding: 3px 8px;
  text-decoration: none;
  color: black;
  display: inline-block;
  border-left: 1px solid black; }
  .navbar a:hover {
    text-decoration: underline; }
.navbar .main-nav > a:first-of-type,
.navbar .drop-down-menu > a:first-of-type {
  border-left: none; }
.navbar .shop-menu::before {
  content: "";
  background-image: url("img/shop-icon.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 16px;
  height: 16px;
  display: inline-block;
  margin: auto 5px;
  position: relative;
  top: 2px; }
.navbar .shop-menu::after {
  content: "";
  background-image: url("img/drop-down-icon.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 8px;
  height: 8px;
  display: inline-block;
  margin: auto 5px;
  position: relative;
  top: 2px;
  top: 0; }
.navbar .enter {
  border-left: 1px solid black; }
.navbar .enter::before {
  content: "";
  background-image: url("img/key-icon.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 16px;
  height: 16px;
  display: inline-block;
  margin: auto 5px;
  position: relative;
  top: 2px; }
.navbar .drop-down-menu {
  position: relative;
  margin: 0;
  padding: 0; }
.navbar .drop-down-content {
  display: none;
  margin-top: -1px;
  position: absolute;
  left: 10%;
  width: 80%;
  height: auto;
  z-index: 1;
  border: 1px #777777 solid;
  background-color: white; }
  .navbar .drop-down-content a {
    border: none;
    display: block; }
  .navbar .drop-down-content a:hover {
    background-color: #f1f1f1; }
.navbar .drop-down-menu:hover .drop-down-content {
  display: block; }

.main-header section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  min-height: 100px; }
  .main-header section > * {
    margin: 5px; }
  .main-header section article {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    flex: 10 1 auto; }
    .main-header section article div {
      display: inline-flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-end;
      flex-wrap: wrap;
      flex: 1 1 auto;
      margin: auto 5px; }
      .main-header section article div #header-cart {
        display: inline-flex;
        flex-direction: row;
        justify-content: space-around; }
      .main-header section article div .header-contacts div {
        display: inline-flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start; }
    .main-header section article .header-search {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: stretch; }
      .main-header section article .header-search input[type="text"] {
        flex: 10 1 auto; }
      .main-header section article .header-search .select-search {
        flex: 0 0 auto; }
      .main-header section article .header-search input[type="submit"] {
        flex: 0 0 auto; }

#logo {
  width: 200px;
  height: 100px; }

.select-place select {
  background: transparent;
  border: none;
  border-bottom: 1px solid black; }
.select-place::before {
  content: "";
  background-image: url("img/place-icon.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 16px;
  height: 16px;
  display: inline-block;
  margin: auto 5px;
  position: relative;
  top: 2px; }

.phone {
  font-size: 1.2em;
  font-weight: bold;
  font-family: sans-serif;
  margin: 5px 0; }

#header-cart a::before {
  content: "";
  background-image: url("img/cart-icon.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 16px;
  height: 16px;
  display: inline-block;
  margin: auto 5px;
  position: relative;
  top: 2px; }

.header-search {
  width: 99%;
  height: 25px;
  margin: 0;
  padding: 0; }
  .header-search input[type="text"] {
    border: 1px solid #777777;
    height: 100%;
    width: 100%;
    padding: 0 0.5em; }
  .header-search .select-search {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 1px solid #777777;
    margin-left: -1px;
    height: 100%; }
    .header-search .select-search select {
      background: transparent;
      border: none;
      color: #777777;
      height: 100%;
      width: 100%; }
  .header-search input[type="submit"] {
    padding: 0;
    margin: 0;
    margin-left: -1px;
    border: 1px solid #777777;
    width: 25px;
    height: 25px;
    background-color: white;
    background-image: url("img/search-icon.png");
    background-position: center;
    background-size: 18px 18px;
    background-repeat: no-repeat; }

/* Header end */
/* Section */
section.main-content {
  padding: 0;
  margin: 0; }
  section.main-content nav {
    min-height: 2em;
    margin: auto 0px; }
    section.main-content nav .back::before {
      content: "";
      background-image: url("img/back-icon.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      width: 10px;
      height: 10px;
      display: inline-block;
      margin: auto 5px;
      position: relative;
      top: 2px;
      top: 0; }
    section.main-content nav p {
      border-left: 1px solid black;
      display: inline-block;
      margin: 5px 0; }
    section.main-content nav a {
      padding: 0px 8px;
      text-decoration: none;
      color: black;
      display: inline-block; }
      section.main-content nav a:hover {
        text-decoration: underline; }
  section.main-content #slider-image {
    width: 100%;
    height: 100px;
    margin: 5px 0; }
  section.main-content article {
    border: 1px solid #777777;
    margin: 10px 0; }
  section.main-content header {
    border-bottom: 1px solid #777777;
    background-color: #eeeeee;
    margin: 0;
    padding: 0.5em; }
    section.main-content header h3 {
      margin: 0;
      text-align: center;
      font-weight: normal;
      font-family: sans-serif; }

.brands img {
  width: 100px;
  height: 50px;
  margin: 2px; }

.promotions .previous-promotion {
  content: "";
  background-image: url("img/previous-icon.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 36px;
  height: 36px;
  display: inline-block;
  margin: auto 5px;
  position: relative;
  top: 2px;
  top: 0; }
.promotions .next-promotion {
  content: "";
  background-image: url("img/next-icon.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 36px;
  height: 36px;
  display: inline-block;
  margin: auto 5px;
  position: relative;
  top: 2px;
  top: 0; }
.promotions > div > a {
  display: inline-block;
  margin: auto; }
.promotions .card {
  width: 110px;
  display: inline-block;
  padding: 5px;
  margin: 10px auto; }
.promotions img {
  width: 110px;
  height: 80px; }
.promotions footer {
  text-align: center;
  margin-bottom: -0.6em; }
  .promotions footer p {
    background-color: #dddddd;
    font-family: sans-serif;
    font-weight: bold;
    display: inline-block;
    padding: 2px 10px;
    margin: 0;
    height: 1.2em; }

.reviews .item-img {
  width: 60px;
  height: 60px; }
.reviews .single-review {
  margin: 5px 5px; }
  .reviews .single-review div {
    display: inline-block;
    width: 80%; }
    .reviews .single-review div h4 {
      margin: 2px 5px; }
    .reviews .single-review div p {
      margin: 5px 5px; }

section.main-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch; }
  section.main-content article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch; }
  section.main-content header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch; }
    section.main-content header h3 {
      flex: 10 1 auto; }

.brands > p {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  align-content: center; }

.promotions > div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  align-content: center; }

.reviews > div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }
  .reviews > div .single-review {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center; }

/* Section end */
