/* Header */

@mixin icon-pseudo-element($icon-url, $icon-size)
    content: ""
    background-image: url($icon-url)
    background-size: cover
    background-repeat: no-repeat
    background-position: center
    width: $icon-size
    height: $icon-size
    display: inline-block
    margin: auto 5px
    position: relative
    top: 2px

.main-header
    border: 1px solid #777777
.navbar
    display: flex
    flex-direction: row
    justify-content: space-around
    align-items: center
    min-height: 2em
    align-content: center
    border-bottom: 1px solid #777777
.main-nav
    display: inline-flex
    flex-direction: row
    justify-content: flex-start
    align-items: center
    flex: 10 1 auto
    flex-wrap: wrap
    align-content: center
.nav-user
    display: inline-flex
    flex-direction: row
    justify-content: flex-end
    align-items: center
    flex: 1 1 auto
    flex-wrap: wrap
    align-content: center

.navbar
    a
        padding: 3px 8px
        text-decoration: none
        color: black
        display: inline-block
        border-left: 1px solid black
        &:hover
            text-decoration: underline
    .main-nav > a:first-of-type,
    .drop-down-menu > a:first-of-type
        border-left: none
    .shop-menu::before
        @include icon-pseudo-element("img/shop-icon.png", 16px)
    .shop-menu::after
        @include icon-pseudo-element("img/drop-down-icon.png", 8px)
        top: 0
    .enter
        border-left: 1px solid black
    .enter::before
        @include icon-pseudo-element("img/key-icon.png", 16px)
    .drop-down-menu
        position: relative
        margin: 0
        padding: 0
    .drop-down-content
        display: none
        margin-top: -1px
        position: absolute
        left: 10%
        width: 80%
        height: auto
        z-index: 1
        border: 1px #777777 solid
        background-color: white
        a
            border: none
            display: block
        a:hover
            background-color: #f1f1f1
    .drop-down-menu:hover .drop-down-content
        display: block

.main-header section
    & > *
        margin: 5px
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: stretch
    min-height: 100px
    align-content: center
    article
        display: inline-flex
        flex-direction: column
        justify-content: space-between
        align-items: stretch
        flex-wrap: wrap
        flex: 10 1 auto
        div
            display: inline-flex
            flex-direction: row
            justify-content: flex-start
            align-items: flex-end
            flex-wrap: wrap
            flex: 1 1 auto
            margin: auto 5px
            #header-cart
                display: inline-flex
                flex-direction: row
                justify-content: space-around
            .header-contacts div
                display: inline-flex
                flex-direction: column
                justify-content: space-between
                align-items: flex-start
        .header-search
            display: flex
            flex-direction: row
            justify-content: center
            align-items: stretch
            input[type="text"]
                flex: 10 1 auto
            .select-search
                flex: 0 0 auto
            input[type="submit"]
                flex: 0 0 auto

#logo
    width: 200px
    height: 100px
.select-place
    select
        background: transparent
        border: none
        border-bottom: 1px solid black
    &::before
        @include icon-pseudo-element("img/place-icon.png", 16px)
.phone
    font-size: 1.2em
    font-weight: bold
    font-family: sans-serif
    margin: 5px 0
#header-cart a
    &::before
        @include icon-pseudo-element("img/cart-icon.png", 16px)

.header-search
    width: 99%
    height: 25px
    margin: 0
    padding: 0
    input[type="text"]
        border: 1px solid #777777
        height: 100%
        width: 100%
        padding: 0 0.5em
    .select-search
        box-sizing: border-box
        margin: 0
        padding: 0
        border: 1px solid #777777
        margin-left: -1px
        height: 100%
        select
            background: transparent
            border: none
            color: #777777
            height: 100%
            width: 100%
    input[type="submit"]
            padding: 0
            margin: 0
            margin-left: -1px
            border: 1px solid #777777
            width: 25px
            height: 25px
            background-color: white
            background-image: url("img/search-icon.png")
            background-position: center
            background-size: 18px 18px
            background-repeat: no-repeat

/* Header end */

/* Section */
section.main-content
    padding: 0
    margin: 0
    nav
        min-height: 2em
        .back::before
            @include icon-pseudo-element("img/back-icon.png", 10px)
            top: 0
        p
            border-left: 1px solid black
            display: inline-block
            margin: 5px 0
        a
            padding: 0px 8px
            text-decoration: none
            color: black
            display: inline-block
            &:hover
                text-decoration: underline
    #slider-image
        width: 100%
        height: 100px
        margin: 5px 0
    article
        border: 1px solid #777777
        margin: 10px 0
    header
        border-bottom: 1px solid #777777
        background-color: #f1f1f1
        margin: 0
        padding: 0.5em
        h3
            margin: 0
            text-align: center
            font-weight: normal
            font-family: sans-serif
    .brands img
        width: 100px
        height: 50px
        margin: 2px
    .promotions
        .previous-promotion
            @include icon-pseudo-element("img/previous-icon.png", 36px)
            top: 0
        .next-promotion
            @include icon-pseudo-element("img/next-icon.png", 36px)
            top: 0
        .card
            width: 110px
            display: inline-block
        img
            width: 110px
            height: 80px
        footer
            text-align: center
            margin-bottom: -0.6em
            p
                background-color: #dddddd
                display: inline-block
                padding: 2px 10px
                margin: 0
                height: 1.2em
    .reviews
        .single-review div
            display: inline-block
            width: 80%
        .item-img
            width: 60px
            height: 60px
        h4
            margin: 5px 0
        p
            margin: 5px 0

/* Section end */